@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/InfDev/SKit.LiqPay.SDK/" target="_blank"><img src="github.svg" width="20" height="20" /> LiqPay SDK project</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About ASP.NET</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
